<h3>Find By Age</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Age</label>
      <input type="text" class="form-control" id="age" [(ngModel)]="age" name="age"> <hr>OR<hr>
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name" name="age">
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div *ngFor="let customer of customers " style="width: 300px;">
    <h4>{{customer.id}} - {{customer.name}} {{customer.age}}</h4>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name">
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="customer.age" name="age">
    </div>

  <span class="button is-small btn-primary" (click)='updateActive(customer)'>Save</span>

</div>

<!--
  <customer-details [customer]='customer'></customer-details>
<ul>
  <li *ngFor="let customer of customers">
    <h4>{{customer.id}} - {{customer.name}} {{customer.age}}</h4>
  </li>
</ul>
-->
